<button id="botonNuevo"  (click)="openModalProveedor()"  nz-button nzType="primary"><i nz-icon nzType="user-add" nzTheme="outline"></i>Nuevo</button>
<nz-table nzBordered #basicTable style="margin-left: 10px; margin-right: 10px;"  [nzData]="persona">
    <thead>
      <tr>
        <th style="text-align: center;"><strong style="text-align: center;">#</strong> </th>
        <th style="text-align: center;"><strong  >Tipo Doc</strong>
            <nz-input-group  nzAddOnAfterIcon="filter">
              <input nz-input type="text"  class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterTipoDoc" name="filterTipoDoc">
            </nz-input-group>
        </th>
        <th style="text-align: center;"><strong>Nro. Doc</strong>
          <nz-input-group  nzAddOnAfterIcon="filter">
            <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterNumDoc" name="filterNumDoc">
          </nz-input-group></th>
        <th style="text-align: center;"><strong>Razon Social</strong>
          <nz-input-group  nzAddOnAfterIcon="filter">
            <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterRazon" name="filterRazon">
          </nz-input-group></th>
        <th style="text-align: center;"><strong >Email</strong>
          <nz-input-group  nzAddOnAfterIcon="filter">
            <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterEmail" name="filterEmail">
          </nz-input-group>
          </th>
        
        <th style="text-align: center;"><strong>Celular</strong>
          <nz-input-group  nzAddOnAfterIcon="filter">
            <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterCelular" name="filterCelular">
          </nz-input-group>
        </th>
        <th style="text-align: center;"><strong>Estado</strong>
          <nz-select  [(ngModel)]="filterEstado" name="filterEstado"  style="margin-top: 10px;  font-size: 12px;">
            <nz-option  style="font-size: 12px;" *ngFor="let option of select" [nzLabel]="option.text" [nzValue]="option.value" ></nz-option>
          </nz-select>
        </th>
        <th style="text-align: center;"><strong>Acciones</strong>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data|filterProveedor:filterEmail|filterProveedor:filterRazon|filterProveedor:filterTipoDoc|filterProveedor:filterNumDoc|filterProveedor:filterCelular|filterProveedor:filterEstado; let indice = index" [ngClass]="{'resaltado': data.per_activo == '0'}">
        <td>{{ indice+1}}</td>
        <td>{{ data.TipoDocumentos.tipodoc_descripcion }}</td>
        <td>{{ data.per_numeroDocumento }}</td>
        <td>{{ data.per_razonSocial }}</td>
        <td>{{ data.per_email}}</td>
        <td>{{ data.per_celular}}</td>
        <td> 
          <div id="label">
            <label id="activo" *ngIf="data.per_activo" for=""> Activo </label>
            <label id="inactivo" *ngIf="!data.per_activo" for=""> Inactivo </label>
          </div>
        </td>

        <td style="text-align: center;">
            <nz-button-group>
                <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
                  <i nz-icon nzType="setting"></i>
                </button>
            </nz-button-group>
            <nz-dropdown-menu #menu2="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>
                    <button nzTooltipTitle="Eliminar" nzTooltipPlacement="left" nz-tooltip  id="delete" ntype="button" class="btn btn-danger" (click)="deleteProveedor(data.id_Persona)" >
                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                      </button>
                      
                  </li>
                  <li nz-menu-item>
                    <button type="button" nzTooltipTitle="Editar" nzTooltipPlacement="right" nz-tooltip class="btn btn-warning" (click)="modalEditProveedor(data.id_Persona)" >
                        <i nz-icon nzType="edit" nzTheme="outline"></i>                                                          
                    </button>
                  </li>
                </ul>
              </nz-dropdown-menu>
           
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-form-proveedor [isVisibleProveedor]="isVisibleProveedor" [idProveedor]="idProveedor" (newVisibleProveedor)="nuevoDatoProveedor()"></app-form-proveedor>
  
  


