<nz-modal
  [(nzVisible)]="isVisibleMarca"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancelMarca()"
  (nzAfterOpen) = "ngOnInit()"

  
>
  <ng-template #modalTitle >{{(idMarca)? 'Editar' : 'Agregar'}} Marca</ng-template>

  <ng-template #modalContent >

    <form [formGroup]="formMarca"  >

      <nz-form-item>
        <nz-form-label>Nombre Marca</nz-form-label>
        <br />
        <nz-form-control nzHasFeedback >
          <nz-input-group [nzSuffix]="suffixTemplateInfo" nzAddOnBeforeIcon="tag">
            <input  [(ngModel)]="marca.mar_nombre"  formControlName="nombreMarca" nz-input placeholder="Nombre Marca" name="nombre" required />
        
          </nz-input-group>
          <ng-template #suffixTemplateInfo><i nz-icon  nz-tooltip nzTooltipTitle="Obligatorio" [nzType]="'exclamation-circle'"></i></ng-template>
          
        </nz-form-control>
        <span style="margin-left: 130px;" class="from-text text-danger" *ngIf="campoEsValido('nombreMarca')">Debe ingresar el nombre*</span>
      </nz-form-item>

      <nz-form-item>
        <label>Decripcion: </label>
            <textarea [(ngModel)]="marca.mar_descripcion" formControlName="descripcionMarca" rows="4" name="descripcion"  nz-input ></textarea>
      </nz-form-item>

      <nz-form-item style="margin-bottom: 0px;">
        <p> Activo <nz-switch [(ngModel)]="marca.mar_activo" formControlName="pepperoni"  nzCheckedChildren="Si" nzUnCheckedChildren="No" ></nz-switch></p>
      </nz-form-item>
    </form>
    
    
      
        
    

      <div class="row" style="margin-top: 0px;">
        <div class="col-6">
          <div style="border: solid #F78181 1px; border-radius: 3px; text-align: center; background-color:#F5A9A9 ;">
            <i nz-icon style="vertical-align: 0; position: relative; bottom:2px; margin-left: 5px; "  nz-tooltip nzTooltipTitle="Obligatorio" [nzType]="'exclamation-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#DF0101'"></i><label for="" style="margin-left: 6px; margin-top: 4px; margin-right: 6px; color: #FE2E2E;">Campos Obligatorios </label>
          </div>
        </div>
      </div>
      
  </ng-template>
  

  <ng-template #modalFooter >
    <button style="padding-left: 5px; padding-right: 5px;" nz-button nzType="default" (click)="handleCancelMarca()"><i style="vertical-align:1px; " nz-icon nzType="close-circle"></i>Cancelar</button>
    <button style="padding-left: 5px; padding-right: 5px;" nz-button nzType="primary" (click)="edit ? updateMarca() : saveNewMarca()" ><i style="vertical-align:1px; " nz-icon nzType="save"></i>Guardar</button>
  </ng-template>
</nz-modal>
