.iconodesplegable{
    font-size: 17px;
}
#iconoNormal{
    font-size: 17px;
    color: darkgreen;
}
.textInputs{
    font-size: 14px;
}
.IconoShooping{
    font-size: 65px;
    color: aliceblue;
}
.LetrasCard{
    font-size: 25px;
}
.LetrasCard1{
    font-size: 12px;
}