<nz-card style="background-color: #ECEAEA; margin-left: 10px; margin-right: 10px;margin-top: 10px; ">
    <div class="row" style="margin: auto; text-align: center;" >
        <div class="col-12" style="margin: auto;  text-align: center;">
            
                <label for="" style="margin-right: 10px;">Desde</label>
                <input type="date" nz-input [(ngModel)]="fechaDesde" style="width:15%;" />
            
                <label for="" style="margin-right: 10px; margin-left: 40px;">Hasta</label>
                <input type="date" nz-input [(ngModel)]="fechaHasta" style="width:15%;" />

                <button (click)="buscar()" style="margin-left: 20px;"  nz-button nzType="primary"><i style="vertical-align:1px;" nz-icon nzType="search"></i>Buscar</button> 
        </div>
    </div>
</nz-card>