*{
    font-size: 12px;
  }

  .ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    background-color: rgba(172, 168, 167, 0.967) !important;
    color: #ffffff;
  }
  
  .ant-table-body .ant-table-row-hover {
    background: rgba(172, 168, 167, 0.967) !important;
    color: #ffffff;
  }
  
  .ant-table-body .ant-table-row-hover>td {
    background: rgba(172, 168, 167, 0.967) !important;
    color: #ffffff;
  }

  #pointer1 {
    width: 60px;
    height: 40px;
    position: relative;
    background: rgb(31, 91, 182);
  }
  #pointer1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #ECECEC;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer1:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgb(31, 91, 182);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  
  #pointer2 {
    width: 80px;
    height: 40px;
    position: relative;
    background: rgb(31, 91, 182);
  }
  #pointer2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #ECECEC;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer2:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgb(31, 91, 182);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer3 {
    width: 90px;
    height: 40px;
    position: relative;
    background: rgba(28, 143, 103, 0.967) !important;
  }
  #pointer3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #ECECEC;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer3:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgba(28, 143, 103, 0.967) !important;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  