<br>
<button id="botonNuevo" (click)="openModalPerfil()" nz-button nzType="primary">Nuevo</button>
<nz-table nzBordered #basicTable style="margin-left: 10px; margin-right: 10px;" [nzData]="perfil">
  <thead>
    <tr>
      <th style="text-align: center;"><strong style="text-align: center;">#</strong> </th>
      <th style="text-align: center;"><strong>Nombre Perfil</strong>
        <nz-input-group nzAddOnAfterIcon="filter">
          <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)]="filterNombre"
            name="filterNombre">
        </nz-input-group>
      </th>
      <th style="text-align: center;"><strong>Descripción Perfil</strong>
        <nz-input-group nzAddOnAfterIcon="filter">
          <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)]="filterDescripcion"
            name="filterDescripcion">
        </nz-input-group>
      </th>
      <th style="text-align: center;"><strong>Acciones</strong>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let indice = index">
      <td>{{ indice+1}}</td>
      <td>{{ data.perf_nombre }}</td>
      <td>{{ data.perf_descripcion }}</td>

      <td style="text-align: center;">
        <nz-button-group>
          <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
            <i nz-icon nzType="user"></i>
          </button>
        </nz-button-group>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <button nzTooltipTitle="Eliminar" nzTooltipPlacement="left" nz-tooltip id="delete" ntype="button"
                class="btn btn-danger" (click)="deletePerfil(data.id_perfil)">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </button>

            </li>
            <li nz-menu-item>
              <button type="button" nzTooltipTitle="Editar" nzTooltipPlacement="right" nz-tooltip
                class="btn btn-warning" (click)="showModalPerfilEdit(data.id_perfil)">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
  </tbody>
</nz-table>
<app-form-perfil [isVisiblePerfil]="isVisiblePerfil" [idPerfil]="idPerfil" (newVisiblePerfil)="nuevoDatoPerfil()" ></app-form-perfil>

