<div style="background: #ECECEC;padding:2px; margin-left: 5px; margin-right: 5px; margin-top: 10px;">
  <div class="row">
    <div class="col-4" id="pointer1" style="margin-left: 22px; margin-right: 10px;">
      <i nz-icon nzType="home" nzTheme="outline" style="color: rgb(250, 250, 250);position: relative;right: -23px;top: 7px; transform: scale(1.5)"></i>
    </div>
    <div class="col-4" id="pointer2" style="margin-left: 10px; margin-right: 10px;" >
      <p style="color: rgb(250, 250, 250);position: relative;right: -20px;top: 10px; transform: scale(1)">Configuración</p>
    </div>
    <div class="col-4" id="pointer3" style="margin-left: 10px; margin-right: 10px;" >
      <p style="color: rgb(250, 250, 250);position: relative;right: -23px;top: 10px; transform: scale(1)">Perfiles</p>
    </div>
  </div>
  <!-- <hr style="position: relative;top: -10px;margin-left: 10px; margin-right: 10px;"> -->
  <p></p>
  <div class="row" style="margin-left: 10px; margin-right: 10px;">
    <div class="col-12" style="background-color: rgb(40, 23, 114);">
          <span style="color: floralwhite;">Lista y Registro de Perfiles Relacionados al Usuario.</span>
    </div>
  </div>

  <button id="botonNuevo" (click)="openModalPerfil()" nz-button nzType="primary"><i style="vertical-align:1px; " nz-icon nzType="usergroup-add"></i>Nuevo</button>
  <nz-table nzBordered #basicTable style="margin-left: 10px; margin-right: 10px;" [nzData]="perfil">
    <thead>
      <tr>
        <th style="text-align: center;"><strong style="text-align: center;">#</strong> </th>
        <th style="text-align: center;"><strong>Nombre Perfil</strong>
          <nz-input-group nzAddOnAfterIcon="filter">
            <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)]="filterNombre"
              name="filterNombre">
          </nz-input-group>
        </th>
        <th style="text-align: center;"><strong>Descripción Perfil</strong>
          <nz-input-group nzAddOnAfterIcon="filter">
            <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)]="filterDescripcion"
              name="filterDescripcion">
          </nz-input-group>
        </th>
        <th style="text-align: center;"><strong>Acciones</strong>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data|filterPerfil:filterNombre|filterPerfil:filterDescripcion; let indice = index">
        <td>{{ indice+1}}</td>
        <td>{{ data.perf_nombre |titlecase }}</td>
        <td>{{ data.perf_descripcion |titlecase }}</td>

        <td style="text-align: center;">
          <nz-button-group>
            <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
              <i nz-icon nzType="setting"></i>
            </button>
          </nz-button-group>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <button nzTooltipTitle="Eliminar" nzTooltipPlacement="left" nz-tooltip id="delete" ntype="button"
                  class="btn btn-danger" (click)="deletePerfil(data.id_perfil)">
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>

              </li>
              <li nz-menu-item>
                <button type="button" nzTooltipTitle="Editar" nzTooltipPlacement="right" nz-tooltip
                  class="btn btn-warning" (click)="showModalPerfilEdit(data.id_perfil)">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<app-form-perfil [isVisiblePerfil]="isVisiblePerfil" [idPerfil]="idPerfil" (newVisiblePerfil)="nuevoDatoPerfil()" ></app-form-perfil>

