<div style="background: #ECECEC;padding:2px; margin-left: 5px; margin-right: 5px; margin-top: 10px;">
<div class="row">
    <div class="col-4" id="pointer1" style="margin-left: 22px; margin-right: 10px;">
      <i nz-icon nzType="home" nzTheme="outline" style="color: rgb(250, 250, 250);position: relative;right: -23px;top: 7px; transform: scale(1.5)"></i>
    </div>
    <div class="col-4" id="pointer2" style="margin-left: 10px; margin-right: 10px;" >
      <p style="color: rgb(250, 250, 250);position: relative;right: -20px;top: 10px; transform: scale(1)">Configuración</p>
    </div>
    <div class="col-4" id="pointer3" style="margin-left: 10px; margin-right: 10px;" >
      <p style="color: rgb(250, 250, 250);position: relative;right: -20px;top: 10px; transform: scale(1)">Permisos</p>
    </div>
  </div>
  <!-- <hr style="position: relative;top: -10px;margin-left: 10px; margin-right: 10px;"> -->
  <p></p>
  <div class="row" style="margin-left: 10px; margin-right: 10px;">
    <div class="col-12" style="background-color: rgb(40, 23, 114);">
          <span style="color: floralwhite;">Lista de Permisos para Acceder a los Módulos del Sistema.</span>
    </div>
  </div>
  <br>
<nz-table nzBordered #basicTable style="margin-left: 10px; margin-right: 10px;" [nzData]="permiso">
    <thead>
        <tr>
            <th style="text-align: center;"><strong style="text-align: center;">#</strong> </th>
            <th style="text-align: center;"><strong>Nombre</strong>
                <nz-input-group nzAddOnAfterIcon="filter">
                    <input nz-input type="text" class="forms-control" placeholder="Buscar..."
                        [(ngModel)]="filterNombre" name="filterNombre">
                </nz-input-group>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data|filterPermiso:filterNombre; let indice = index">
            <td>{{ indice+1}}</td>
            <td>{{ data.perm_nombre }}</td>
        </tr>
    </tbody>
</nz-table>
</div>
