<div style="background: #ECECEC;padding:2px; margin-left: 5px; margin-right: 5px; margin-top: 10px;">

  <div class="row">
    <div class="col-4" id="pointer1" style="margin-left: 22px; margin-right: 10px;">
      <i nz-icon nzType="home" nzTheme="outline" style="color: rgb(250, 250, 250);position: relative;right: -23px;top: 7px; transform: scale(1.5)"></i>
    </div>
    <div class="col-4" id="pointer2" style="margin-left: 10px; margin-right: 10px;" >
      <p style="color: rgb(250, 250, 250);position: relative;right: -30px;top: 10px; transform: scale(1)">Maestro</p>
    </div>
    <div class="col-4" id="pointer3" style="margin-left: 10px; margin-right: 10px;" >
      <p style="color: rgb(250, 250, 250);position: relative;right: -26px;top: 10px; transform: scale(1)">Marca</p>
    </div>
  </div>
  <!-- <hr style="position: relative;top: -10px;margin-left: 10px; margin-right: 10px;"> -->
  <p></p>
  <div class="row" style="margin-left: 10px; margin-right: 10px;">
    <div class="col-12" style="background-color: rgb(40, 23, 114);">
          <span style="color: floralwhite;">Aquí se Registrará las Marcas de los Productos.</span>
    </div>
  </div>

  <button id="botonNuevo" (click)="showModalMarca()" nz-button nzType="primary"><i style="vertical-align:1px; " nz-icon nzType="tag"></i>Nuevo</button>

  <nz-table nzBordered #basicTable [nzData]="marca" style="margin-left: 10px; margin-right: 10px;">
      <thead>
        <tr>
          <th style="text-align: center;"><strong>#</strong> </th>
          <th style="text-align: center;"><strong>Nombre</strong>
            <nz-input-group  nzAddOnAfterIcon="filter">
              <input nz-input type="text"  class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterNombre" name="filterNombre">
            </nz-input-group>
          </th>
          <th style="text-align: center;"><strong>Descripcion</strong>
            <nz-input-group  nzAddOnAfterIcon="filter">
              <input nz-input type="text"  class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterDescripcion" name="filterDescripcion">
            </nz-input-group>
          </th>
          <th style="text-align: center;"><strong>Estado</strong><br>
            <nz-select  [(ngModel)]="filterEstado" name="filterEstado"  style="margin-top: 10px;  font-size: 12px;">
              <nz-option  style="font-size: 12px;" *ngFor="let option of select" [nzLabel]="option.text" [nzValue]="option.value" ></nz-option>
            </nz-select>
          </th>
          <th style="text-align: center;"><strong>Acciones</strong></th>

        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let data of basicTable.data|filterMarca:filterNombre|filterMarca:filterDescripcion|filterMarca:filterEstado; let indice = index"  [ngClass]="{'resaltado': data.mar_activo == '0'}">
          
            <td>{{ indice+1}}</td> 
            <td>{{ data.mar_nombre }}</td>
            <td>{{ data.mar_descripcion }}</td>
            <td> 
              <div id="label">
                <label id="activo" *ngIf="data.mar_activo" for=""> Activo </label>
                <label id="inactivo" *ngIf="!data.mar_activo" for=""> Inactivo </label>
            </div>

            </td>

            <td style="text-align: center;">
              <nz-button-group>
                  <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
                    <i nz-icon nzType="setting"></i>
                  </button>
              </nz-button-group>
              <nz-dropdown-menu #menu2="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item>
                      <button nzTooltipTitle="Eliminar" nzTooltipPlacement="left" nz-tooltip  id="delete" ntype="button" class="btn btn-danger" (click)="deleteMarca(data.id_marca)" >
                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                      </button>
                        
                    </li>
                    <li nz-menu-item>
                      <button type="button" nzTooltipTitle="Editar" nzTooltipPlacement="right" nz-tooltip class="btn btn-warning"  (click)="showModalEditarMarca(data.id_marca)">
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                      </button>
                    </li>
                  </ul>
                </nz-dropdown-menu>
            </td>
        </tr>
      </tbody>
  </nz-table>
</div>

  <app-form-marca  [isVisibleMarca]="isVisibleMarca" [idMarca]="idMarca" (newVisibleMarca)="nuevoDatoMarca()"></app-form-marca>
