<div style="background: #ECECEC;padding:2px; margin-left: 5px; margin-right: 5px; margin-top: 10px;">
  <div class="row">
    <div class="col-4" id="pointer1" style="margin-left: 22px; margin-right: 10px;">
      <i nz-icon nzType="home" nzTheme="outline" style="color: rgb(250, 250, 250);position: relative;right: -23px;top: 7px; transform: scale(1.5)"></i>
    </div>
    <div class="col-4" id="pointer2" style="margin-left: 10px; margin-right: 10px;" >
      <p style="color: rgb(250, 250, 250);position: relative;right: -22px;top: 10px; transform: scale(1)">Ventas</p>
    </div>
    <div class="col-4" id="pointer3" style="margin-left: 10px; margin-right: 10px;" >
      <p style="color: rgb(250, 250, 250);position: relative;right: -22px;top: 10px; transform: scale(1)">Ventas</p>
    </div>
  </div>
  <!-- <hr style="position: relative;top: -10px;margin-left: 10px; margin-right: 10px;"> -->
  <p></p>
  <div class="row" style="margin-left: 10px; margin-right: 10px;">
    <div class="col-12" style="background-color: rgb(40, 23, 114);">
          <span style="color: floralwhite;">Aquí se Registrará las Ventas del Día.</span>
    </div>
  </div>

  <button id="botonNuevo" routerLink="/dashboard/agregarVenta" nz-button nzType="primary"><i style="vertical-align:1px; " nz-icon nzType="tag"></i>Nuevo</button>

  <nz-table id="tabla" nzBordered #basicTable  [nzData]="ventas" style="margin-left: 10px; margin-right: 10px;">
      <thead>
        <tr>
          <th style="text-align: center;"><strong>#</strong> </th>
          <th style="text-align: center;"><strong>Num. Comp.</strong>
            <nz-input-group nzAddOnAfterIcon="filter">
              <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterNumComp" name="filterNumComp">
            </nz-input-group>
          </th>
          <th style="text-align: center;"><strong>Num. Doc.</strong>
            <nz-input-group nzAddOnAfterIcon="filter">
              <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterNumDoc" name="filterNumDoc">
            </nz-input-group>
          </th>
          <th style="text-align: center;"><strong>Razón Social</strong>
            <nz-input-group nzAddOnAfterIcon="filter">
              <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterRazonSocial" name="filterRazonSocial">
            </nz-input-group>
          </th>
          <th style="text-align: center;"><strong>Moneda</strong>
            <nz-input-group nzAddOnAfterIcon="filter">
              <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterMoneda" name="filterMoneda">
            </nz-input-group>
          </th>
          <th style="text-align: center;"><strong>Total</strong>
            <nz-input-group nzAddOnAfterIcon="filter">
              <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterTotal" name="filterTotal">
            </nz-input-group>
          </th>
          <th style="text-align: center;"><strong>Fecha Emision</strong>
            <nz-input-group nzAddOnAfterIcon="filter">
              <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterFecha" name="filterFecha">
            </nz-input-group>
          </th>
          <th style="text-align: center;"><strong>Acciones</strong></th>

        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of basicTable.data|filterVenta:filterNumComp|filterVenta:filterNumDoc|filterVenta:filterRazonSocial|filterVenta:filterMoneda|filterVenta:filterTotal|filterVenta:filterFecha; let indice = index">
              <td>{{ indice+1}}</td> 
              <td>{{ data.ven_numeroComprobante }}</td>
              <td>{{ data.Personas.per_numeroDocumento }}</td>
              <td>{{ data.Personas.per_razonSocial }}</td>
              <td>{{ data.Monedas.mon_nombre }}</td>
              <td>{{ data.ven_total }}</td>
              <td>{{ data.createdAt }}</td>

              <td style="text-align: center;">
                <nz-button-group>
                    <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
                      <i nz-icon nzType="setting"></i>
                    </button>
                </nz-button-group>
                <nz-dropdown-menu #menu2="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item>
                        <button nz-button nzType="primary" nzTooltipTitle="PDF" nzTooltipPlacement="left" nz-tooltip (click)="generatePdf(data.ven_numeroComprobante)"  ntype="button"  >
                          <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                        </button>
                      </li>
                      <li nz-menu-item>
                        <button nz-button nzType="primary" nzTooltipTitle="EXCEL" nzTooltipPlacement="left" nz-tooltip (click)="datos(data.ven_numeroComprobante)"  ntype="button"  >
                          <i nz-icon nzType="file-excel" nzTheme="outline"></i>
                        </button>
                      </li>
                    </ul>
                  </nz-dropdown-menu>
              </td>
            </tr>
      </tbody>
    </nz-table>
</div>



  
  


  
