<button id="botonNuevo" (click)="openModalMedida()" nz-button nzType="primary">Nuevo</button>

<nz-table nzBordered  #basicTable [nzData]="medida">
    <thead>
      <tr>
        <th style="text-align: center;"><strong>#</strong> </th>
        <th style="text-align: center;"><strong>Nombre</strong></th>
        <th style="text-align: center;"v><strong>Acciones</strong></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let indice = index">
        <td>{{ indice+1}}</td> 
        <td>{{ data.med_unidad}}</td>
        
        <td>
            <button nzTooltipTitle="Eliminar" nzTooltipPlacement="left" nz-tooltip  id="delete" ntype="button" class="btn btn-danger" (click)="deleteMedida(data.id_medida)" >
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
            <button type="button" nzTooltipTitle="Editar" nzTooltipPlacement="right" nz-tooltip class="btn btn-warning"  (click)="modalEditMedida(data.id_medida)" >
                <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
        </td>
        
      </tr>
    </tbody>
  </nz-table>
  <app-form-medida [isVisibleMedida]="isVisibleMedida" [idMedida]="idMedida" (newVisibleMedida)="nuevoDatoMedida()"></app-form-medida>
  