<nz-card style=" margin-left: 10px; margin-right: 10px;margin-top: 10px;">
  <div class="row">
    <div class="col-4" id="pointer1" style="margin-left: 12px; margin-right: 10px;">
      <i nz-icon nzType="home" nzTheme="outline" style="color: rgb(250, 250, 250);position: relative;right: -23px;top: 7px; transform: scale(1.5)"></i>
    </div>
    <div class="col-4" id="pointer2" style="margin-left: 10px; margin-right: 10px;" >
      <p style="color: rgb(250, 250, 250);position: relative;right: -14px;top: 10px; transform: scale(1)">Reportes</p>
    </div>
    <div class="col-4" id="pointer3" style="margin-left: 10px; margin-right: 10px;" >
      <p style="color: rgb(250, 250, 250);position: relative;right: -18px;top: 10px; transform: scale(1)">Reporte Prod.</p>
    </div>
  </div>
  <!-- <hr style="position: relative;top: -10px;margin-left: 10px; margin-right: 10px;"> -->
  <p></p>
  <div class="row" style="margin-left: 1px; margin-right: 1px;">
    <div class="col-12" style="background-color: rgb(40, 23, 114);">
          <span style="color: floralwhite;">Reporte de Productos.</span>
    </div>
  </div><br>
    <div id="table">
        <div class="row">
            <div class="col-10">
                <strong><h2>Lista de Productos</h2></strong>
            </div>
        </div>
        
        <nz-table  nzBordered #basicTable [nzFrontPagination]="false" [nzData]="producto" >
            <thead >
              <tr>
                <th style="text-align: center;"><strong>#</strong> </th>
                <th style="text-align: center;"><strong>Categoria</strong>
                  <nz-input-group nzAddOnAfterIcon="filter">
                    <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterCategoria" name="filterCategoria">
                  </nz-input-group>
                </th>
                <th  style="text-align: center;"><strong>Modelo</strong>
                  <nz-input-group nzAddOnAfterIcon="filter">
                    <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterModelo" name="filterModelo">
                  </nz-input-group>
                </th>
                <th style="text-align: center;"><strong>Caracteristica</strong>
                  <nz-input-group nzAddOnAfterIcon="filter">
                    <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterCaracteristica" name="filterCaracteristica">
                  </nz-input-group>
                </th>
                <th style="text-align: center;"><strong>Tipo</strong>
                  <nz-input-group nzAddOnAfterIcon="filter">
                    <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterTipo" name="filterTipo">
                  </nz-input-group>
                </th>
                <th style="text-align: center;"><strong>U.Medida</strong>
                  <nz-input-group nzAddOnAfterIcon="filter">
                    <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterMedida" name="filterMedida">
                  </nz-input-group>
                </th>
                <th  style="text-align: center;"><strong>Stock</strong>
                  <nz-input-group nzAddOnAfterIcon="filter">
                    <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterStock" name="filterStock">
                  </nz-input-group>
                </th>
              </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let data of basicTable.data|filterProducto:filterCategoria|filterProducto:filterModelo|filterProducto:filterCaracteristica|filterProducto:filterTipo|filterProducto:filterMedida|filterProducto:filterStock; let indice = index">
                  <td>{{ indice+1}}</td>
                  <td><strong>{{ data.Categorias.cat_nombre }}</strong></td>
                  <td>{{ data.prod_modelo }}</td>
                  <td>{{ data.prod_caracteristica }}</td>
                  <td>{{ data.Tipos.tip_nombre }}</td>
                  <td>{{ data.Medidas.med_unidad}}</td>
                  <td>{{ data.prod_stock}}</td>
                </tr>
              </tbody>
            
          </nz-table>
    </div>
    <div class="row">
      <div class="col-2">
        <button  (click)="descargar()" nz-button nzType="primary"><i style="vertical-align:1px;" nz-icon nzType="tag"></i>Dowloand</button>
      </div>
    </div>
    

  
</nz-card>
  




