<nz-card style=" margin-left: 10px; margin-right: 10px;margin-top: 10px;">
    <div id="table">
        <div class="row">
            <div class="col-10">
                <strong><h2>Lista de Productos</h2></strong>
            </div>
        </div>
        
        <nz-table  nzBordered #basicTable [nzFrontPagination]="false" [nzData]="producto" >
            <thead >
              <tr>
                <th style="text-align: center;"><strong>#</strong> </th>
                <th style="text-align: center;"><strong>Categoria</strong></th>
                <th  style="text-align: center;"><strong>Modelo</strong></th>
                <th style="text-align: center;"><strong>Caracteristica</strong></th>
                <th style="text-align: center;"><strong>Tipo</strong></th>
                <th style="text-align: center;"><strong>U.Medida</strong></th>
                <th  style="text-align: center;"><strong>Stock</strong></th>
              </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let data of basicTable.data; let indice = index">
                  <td>{{ indice+1}}</td>
                  <td><strong>{{ data.Categorias.cat_nombre }}</strong></td>
                  <td>{{ data.prod_modelo }}</td>
                  <td>{{ data.prod_caracteristica }}</td>
                  <td>{{ data.Tipos.tip_nombre }}</td>
                  <td>{{ data.Medidas.med_unidad}}</td>
                  <td>{{ data.prod_stock}}</td>
                </tr>
              </tbody>
            
          </nz-table>
    </div>
    <div class="row">
      <div class="col-2">
        <button  (click)="descargar()" nz-button nzType="primary"><i style="vertical-align:1px;" nz-icon nzType="tag"></i>Dowloand</button>
      </div>
    </div>
    

  
</nz-card>
  




