<nz-modal nzWidth = 500px nzHeight = 500px [(nzVisible)]="isVisbleResumenUsuario" [nzTitle]="modalTitle" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="handleCancelResumen()" (nzAfterOpen)="ngOnInit()">
    <ng-template #modalTitle> Resumen de Usuario </ng-template>
    <ng-template #modalContent>
        <form autocomplete="off" [formGroup]="formUsuarios">
            <div class="row" style="display: flex; align-items: center; justify-content: center;">
                <div class="col-10" >
                    <nz-form-item>
                        <nz-form-label>Apellidos</nz-form-label>
                        <br />
                        <nz-form-control >
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButtonApellidos">
                                <input [(ngModel)]="usuarios.us_apellidos" type="text" formControlName="us_apellidos" nz-input
                                placeholder="Apellidos del Usuario" name="nombre" />
                              </nz-input-group>
                              <ng-template #suffixIconButtonApellidos class="apellidos">
                                <button cdkCopyToClipboard = "{{usuarios.us_apellidos}}" (click)="mensajeCopiado('success')"  nz-button nzType="primary" nzSearch><i nz-icon nzType="copy"></i></button>
                              </ng-template>
                            </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row" style="display: flex; align-items: center; justify-content: center;">
                <div class="col-10">
                  <nz-form-item>
                    <nz-form-label> Nombres </nz-form-label>
                    <br />
                    <nz-form-control  >
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButtonNombres">
                            <input [(ngModel)]="usuarios.us_nombres" #userinput type="text" formControlName="us_nombres" nz-input
                            placeholder="Nombres del Usuario" name="nombre" />
                          </nz-input-group>
                          <ng-template #suffixIconButtonNombres class="nombres">
                            <button nz-button cdkCopyToClipboard = "{{usuarios.us_nombres}}" (click)="mensajeCopiado('success')" nzType="primary" nzSearch><i nz-icon nzType="copy"></i></button>
                          </ng-template>
                        </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div class="row" style="display: flex; align-items: center; justify-content: center;">
                <div class="col-10">
                  <nz-form-item>
                    <nz-form-label> Dirección </nz-form-label>
                    <br />
                    <nz-form-control >
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButtonDireccion">
                            <input [(ngModel)]="usuarios.us_direccion" type="text" formControlName="us_direccion" nz-input
                            placeholder="Dirección del Usuario" name="nombre" />
                          </nz-input-group>
                          <ng-template #suffixIconButtonDireccion>
                            <button  nz-button cdkCopyToClipboard = "{{usuarios.us_direccion}}" (click)="mensajeCopiado('success')" nzType="primary" nzSearch><i nz-icon nzType="copy"></i></button>
                          </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div class="row" style="display: flex; align-items: center; justify-content: center;">
                <div class="col-10">
                  <nz-form-item>
                    <nz-form-label>N° Documento </nz-form-label>
                    <br />
                    <nz-form-control >
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButtonDocumento">
                            <input [(ngModel)]="usuarios.us_numeroDocumento" type="text" formControlName="us_tipoDocumento" nz-input
                            placeholder="Tipo Documento del Usuario" name="nombre" />
                          </nz-input-group>
                          <ng-template #suffixIconButtonDocumento>
                            <button nz-button cdkCopyToClipboard = "{{usuarios.us_numeroDocumento}}" (click)="mensajeCopiado('success')" nzType="primary" nzSearch><i nz-icon nzType="copy"></i></button>
                          </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div class="row" style="display: flex; align-items: center; justify-content: center;">
                <div class="col-10">
                  <nz-form-item>
                    <nz-form-label> Email </nz-form-label>
                    <br />
                    <nz-form-control >
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButtonEmail">
                            <input [(ngModel)]="usuarios.us_email" type="text" formControlName="us_email" nz-input
                            placeholder="Email" name="nombre" />
                          </nz-input-group>
                          <ng-template #suffixIconButtonEmail >
                            <button nz-button cdkCopyToClipboard = "{{usuarios.us_email}}" (click)="mensajeCopiado('success')" nzType="primary" nzSearch><i nz-icon nzType="copy"></i></button>
                          </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div class="row" style="display: flex; align-items: center; justify-content: center;">
                <div class="col-10">
                  <nz-form-item>
                    <nz-form-label> Teléfono </nz-form-label>
                    <br />
                    <nz-form-control >
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButtonTelefono">
                            <input [(ngModel)]="usuarios.us_telefono" type="text" formControlName="us_telefono" nz-input
                            placeholder="Teléfono" name="nombre" />
                          </nz-input-group>
                          <ng-template #suffixIconButtonTelefono>
                            <button nz-button cdkCopyToClipboard = "{{usuarios.us_telefono}}" (click)="mensajeCopiado('success')" nzType="primary" nzSearch><i nz-icon nzType="copy"></i></button>
                          </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div class="row" style="display: flex; align-items: center; justify-content: center;">
                <div class="col-10">
                  <nz-form-item>
                    <nz-form-label> Usuario </nz-form-label>
                    <br />
                    <nz-form-control >
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButtonUsuarios">
                            <input [(ngModel)]="usuarios.us_login" type="text" formControlName="us_login" nz-input
                            placeholder="Login del Usuario" name="nombre" />
                          </nz-input-group>
                          <ng-template #suffixIconButtonUsuarios>
                            <button nz-button cdkCopyToClipboard = "{{usuarios.us_login}}" (click)="mensajeCopiado('success')" nzType="primary" nzSearch><i nz-icon nzType="copy"></i></button>
                          </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancelResumen()"><i style="vertical-align:0px;" nz-icon nzType="close-circle"></i>Cancelar</button>
      </ng-template>
</nz-modal>
