<div style="background-color: rgb(204, 207, 207);   width:100%; position:fixed" fxLayoutAlign="center center" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px" fxFlexFill>
    <mat-card>
        <mat-card-content>
            <img style="text-align: right;" src="assets/images/01_telenor.JPG"  width="400" height="400">
        </mat-card-content>
    </mat-card>
    
    <div fxFlex ="50" fxFlex.lg="28" fxFlex.sm="30">
    
        <router-outlet></router-outlet>

    </div>
    
</div>
