<div style="background: #ECECEC;padding:2px; margin-left: 5px; margin-right: 5px; margin-top: 10px;">
  <div class="row">
    <div class="col-4" id="pointer1" style="margin-left: 22px; margin-right: 10px;">
      <i nz-icon nzType="home" nzTheme="outline" style="color: rgb(250, 250, 250);position: relative;right: -23px;top: 7px; transform: scale(1.5)"></i>
    </div>
    <div class="col-4" id="pointer2" style="margin-left: 10px; margin-right: 10px;" >
      <p style="color: rgb(250, 250, 250);position: relative;right: -18px;top: 10px; transform: scale(1)">Almacén</p>
    </div>
    <div class="col-4" id="pointer3" style="margin-left: 10px; margin-right: 10px;" >
      <p style="color: rgb(250, 250, 250);position: relative;right: -20px;top: 10px; transform: scale(1)">Productos</p>
    </div>
  </div>
  <!-- <hr style="position: relative;top: -10px;margin-left: 10px; margin-right: 10px;"> -->
  <p></p>
  <div class="row" style="margin-left: 10px; margin-right: 10px;">
    <div class="col-12" style="background-color: rgb(40, 23, 114);">
          <span style="color: floralwhite;">Aquí se Registrará Todos los Productos para sus Ventas Posteriores.</span>
    </div>
  </div>

  <button id="botonNuevo" (click)="openModalProducto()" nz-button nzType="primary"><i style="vertical-align:1px; " nz-icon nzType="tag"></i>Nuevo</button>

  <nz-table nzBordered #basicTable [nzData]="producto" style=" margin-left: 10px; margin-right: 10px;">
      <thead>
        <tr>
          <th style="text-align: center;"><strong>#</strong> </th>
          <th  style="text-align: center;"><strong>Modelo</strong>
            <nz-input-group nzAddOnAfterIcon="filter">
              <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterModelo" name="filterModelo">
            </nz-input-group>
          </th>
          <th style="text-align: center;"><strong>Caracteristica</strong>
            <nz-input-group nzAddOnAfterIcon="filter">
              <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterCaracteristica" name="filterCaracteristica">
            </nz-input-group>
          </th>
          <th style="text-align: center;"><strong>Tipo</strong>
            <nz-input-group nzAddOnAfterIcon="filter">
              <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterTipo" name="filterTipo">
            </nz-input-group>
          </th>
          <th style="text-align: center;"><strong>Categoria</strong>
            <nz-input-group nzAddOnAfterIcon="filter">
              <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterCategoria" name="filterCategoria">
            </nz-input-group>
          </th>
          <th style="text-align: center;"><strong>U.Medida</strong>
            <nz-input-group nzAddOnAfterIcon="filter">
              <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterMedida" name="filterMedida">
            </nz-input-group>
          </th>
          <th  style="text-align: center;"><strong>Stock</strong>
            <nz-input-group nzAddOnAfterIcon="filter">
              <input nz-input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterStock" name="filterStock">
            </nz-input-group>
          </th>
          <th  style="text-align: center;"><strong>Estado</strong>
            <nz-select [(ngModel)]="filterEstado" nzShowSearch nzAllowClear nzPlaceHolder="Selec.."  name="filterEstado" style="margin-top: 10px;  font-size: 12px;">
              <nz-option class="forms-control" style="font-size: 12px;" *ngFor="let option of select" [nzLabel]="option.text" [nzValue]="option.value" ></nz-option>
            </nz-select>
          </th>
          <th style="text-align: center;"><strong>Acciones</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data|filterProducto:filterModelo|filterProducto:filterCaracteristica|filterProducto:filterTipo|filterProducto:filterCategoria|filterProducto:filterMedida|filterProducto:filterStock|filterProducto:filterEstado; let indice = index" [ngClass]="{'resaltado': data.prod_activo == '0'}">
          <td>{{ indice+1}}</td>
          <td>{{ data.prod_modelo|titlecase }}</td>
          <td>{{ data.prod_caracteristica|titlecase }}</td>
          <td>{{ data.Tipos.tip_nombre|titlecase }}</td>
          <td>{{ data.Categorias.cat_nombre|titlecase }}</td>
          <td>{{ data.Medidas.med_unidad|titlecase}}</td>
          <td>{{ data.prod_stock}}</td>
          <td> 
            <div id="label">
              <label id="activo" *ngIf="data.prod_activo" for=""> Activo </label>
              <label id="inactivo" *ngIf="!data.prod_activo" for=""> Inactivo </label>
            </div>
          </td>

          <td style="text-align: center;">

              <nz-button-group>
                  <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
                    <i nz-icon nzType="setting"></i>
                  </button>
              </nz-button-group>
              <nz-dropdown-menu #menu2="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item>
                      <button nzTooltipTitle="Eliminar" nzTooltipPlacement="left" nz-tooltip  id="delete" ntype="button" class="btn btn-danger" (click)="deleteProducto(data.id_Producto)" >
                          <i nz-icon nzType="delete" nzTheme="outline"></i>
                        </button>
                        
                    </li>
                    <li nz-menu-item>
                      <button type="button" nzTooltipTitle="Editar" nzTooltipPlacement="right" nz-tooltip class="btn btn-warning"  (click)="modalEditProducto(data.id_Producto)" >
                          <i nz-icon nzType="edit" nzTheme="outline"></i>                                                          
                      </button>
                    </li>
                    <li nz-menu-item>
                      <button type="button" nzTooltipTitle="Historial" nzTooltipPlacement="right" nz-tooltip class="btn btn-warning"  (click)="modalHistorial(data.id_Producto)" >
                          <i nz-icon nzType="profile" nzTheme="outline"></i>                                                          
                      </button>
                    </li>
                  </ul>
              </nz-dropdown-menu>

              
              
          </td>
        </tr>
      </tbody>
  </nz-table>
</div>
  <app-form-producto [isVisibleProducto]="isVisibleProducto" [idProducto]="idProducto" (newVisibleProducto)="nuevoDatoProducto()"></app-form-producto>
  <app-lista-hitorial [isVisibleHistorial]="isVisibleHistorial" [idProducto]="idProducto" (newVisibleHistorial)="nuevoDatoHistorial()"></app-lista-hitorial>
  
  


