.button{
    margin-right: 10px;
}


#botonNuevo{
    margin-bottom: 10px;
    transform: scale(0.8);
}

.button {
    transition-duration: 0.4s;
    background: red;
  }
  
  .button:hover {
    background-color: white; /* Green */
    color: white;
  }

#inactivo{
  border: crimson solid 1px;
  color: crimson;
  padding: 3px;
}

#activo{
  border: green solid 1px;
  color: green;
  padding: 3px;
}


#label{
  margin: 2px;
  white-space:pre;
}

.miteahd{
  border: solid 100px black;
  overflow: auto;
  transform: scale(1);
 }
 .miTabla{
  transform: scale(1);
  overflow: auto;
 }
 .campos{
  width: 15%;
  height: 15%;
  vertical-align:middle;
  border-collapse: collapse;
  text-align: center;
 }
 .campos1{
  white-space:pre-line;
  width: 15%;
  height: 15%;
  vertical-align:middle;
  border-collapse: collapse;
 }
 .mitr{
  
  transform: scale(1);

 }
 #delete{

  transform: scale(1);

 }
 #edit{
  transform: scale(1);
 }

 .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
  padding: 5px;
  text-align: center;
}
*{
  font-size: 11px;

}
.filterButton .forms-control{
  width: 55px;
  
}
.filterButton{
  
  margin-top: 5px;
}

 