<br>
<button id="botonNuevo" (click)="showModalUsuario()" nz-button nzType="primary">Nuevo</button>
<input type="text" class="forms-control" placeholder="Buscar..." [(ngModel)] ="filterPost" name="filterPost">
<nz-table class="miTabla" nzBordered #basicTable [nzData]="usuarios">
    <thead class="miteahd">
      <tr class="mitr">
        <th class="campos"><strong class="campos">#</strong> </th>
        <th class="campos"><strong class="campos" >Apellidos</strong></th>
        <th class="campos"><strong  class="campos">Nombres</strong></th>
        <th class="campos"><strong class="campos">N° Documento</strong></th>
        <th class="campos"><strong class="campos">Direccion</strong></th>
        <th class="campos"><strong class="campos">Telefono</strong></th>
        <th class="campos"><strong class="campos">Email</strong></th>
        <th class="campos"><strong class="campos">Fecha Registro</strong></th>
        <th class="campos"><strong class="campos">Usuario</strong></th>
        <th class="campos"><strong class="campos">Perfil</strong></th>
        <th class="campos"><strong class="campos">Tipo Documento</strong></th>
        <th class="campos"><strong class="campos">Estado</strong></th>
        <th class="campos"><strong class="campos">Acciones</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data|filter:filterPost; let indice = index">
        <td class="campos1">{{ indice+1}}</td>
        <td class="campos1">{{ data.us_apellidos }}</td>
        <td class="campos1">{{ data.us_nombres }}</td>
        <td class="campos1">{{ data.us_numeroDocumento }}</td>
        <td class="campos1">{{ data.us_direccion}}</td>
        <td class="campos1">{{ data.us_telefono}}</td>
        <td class="campos1">{{ data.us_email}}</td>
        <td class="campos1">{{ data.us_fechaRegistro| date: 'dd/MM/yyyy'}}</td>
        <td class="campos1">{{ data.us_login}}</td>
        <td class="campos1">{{ data.Perfils.perf_nombre}}</td>
        <td class="campos1">{{ data.TipoDocumentos.tipodoc_descripcion}}</td>
        <td> 
          <div id="label">
            <label id="activo" *ngIf="data.us_activo" for=""> Activo </label>
            <label id="inactivo" *ngIf="!data.us_activo" for=""> Inactivo </label>
        </div>

        </td>
        <td>
            <button nzTooltipTitle="Eliminar"  nzTooltipPlacement="left" nz-tooltip  id="delete" ntype="button" class="btn btn-danger" (click)="deleteUsuario(data.id_usuario)" >
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
            <button type="button" nzTooltipTitle="Editar"  nzTooltipPlacement="right" id="edit" nz-tooltip class="btn btn-warning"  (click)="showModalUsuarioEdit(data.id_usuario)" >
                <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <app-form-usuario [isVisibleUsuario]="isVisibleUsuario" (newVisibleUsuario)="nuevoDato()" [idUsuario] = "idUsuario" ></app-form-usuario>
  



