<button id="botonNuevo"  (click)="showModalCategoria()"  nz-button nzType="primary">Nuevo</button>

<nz-table nzBordered #basicTable [nzData]="categorias" style="margin-left: 10px; margin-right: 10px;">
    <thead>
      <tr>
        <th><strong>#</strong> </th>
        <th><strong>Nombre</strong></th>
        <th><strong>Descripcion</strong></th>
        <th><strong>Activo</strong></th>
        <th><strong>Acciones</strong></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let indice = index">
        <td>{{ indice+1}}</td> 
        <td>{{ data.cat_nombre }}</td>
        <td>{{ data.cat_descripcion }}</td>
        <td> 
          <div id="label">
            <label id="activo" *ngIf="data.cat_activo" for=""> Activo </label>
            <label id="inactivo" *ngIf="!data.cat_activo" for=""> Inactivo </label>
        </div>

        </td>
        <td>
            <button nzTooltipTitle="Eliminar" nzTooltipPlacement="left" nz-tooltip  id="delete" ntype="button" class="btn btn-danger" (click)="deleteCategoria(data.id_categoria)" >
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
            <button type="button" nzTooltipTitle="Editar" nzTooltipPlacement="right" nz-tooltip class="btn btn-warning" (click)="showModalEditarCategoria(data.id_categoria)"  >
                <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
        </td>
        
      </tr>
    </tbody>
  </nz-table>
  
  <app-form-categoria   [isVisibleCategoria]="isVisibleCategoria" [idCategoria]="idCategoria" (newVisibleCategoria)="nuevoDato()" ></app-form-categoria>