button{
    margin-right: 10px;
}


#botonNuevo{
    margin-bottom: 10px;
}

.button {
    transition-duration: 0.4s;
    background: red;
  }
  
  .button:hover {
    background-color: white; /* Green */
    color: white;
  }

#inactivo{
  border: crimson solid 1px;
  color: crimson;
  padding: 3px;
}

#activo{
  border: green solid 1px;
  color: green;
  padding: 3px;
}


#label{
  margin: 2px;
}

