.IconoShooping{
    font-size: 65px;
    color: aliceblue;
}
.LetrasCard{
    font-size: 25px;
}
.LetrasCard1{
    font-size: 15px;
}
.textInputs{
    font-size: 14px;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
    padding: 5px;
    text-align: center;
  }
  .cabeceras{
    font-size: 12px;
  }
  .ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    background-color: rgba(17, 186, 127, 0.967) !important;
    color: #ffffff;
  }
  
  .ant-table-body .ant-table-row-hover {
    background: rgba(17, 186, 127, 0.967) !important;
    color: #ffffff;
  }
  
  .ant-table-body .ant-table-row-hover>td {
    background: rgba(17, 186, 127, 0.967) !important;
    color: #ffffff;
  }